.navBar{
    height:10%;
    width:100%;
    background-color:#616161;
    margin-bottom: 20px;
    padding: 10px;
    
    .navHeader {
        font-size: 40px;
        font-weight: bold;
        color: white;
        

    }
}